langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv<4.0
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence-transformers
langchain-huggingface
faiss-cpu
langchain-chroma
langchain-openai
beautifulsoup4